.body{
    display: flex;
    flex-direction: column;
    gap:19%;
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
}
.logo{
    width:150px;
}
.title{
    font-size: 30px;
    font-weight: 600;
}

.subTitle{
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width:425px) {
    .logo{
        width:125px;
    }
    .title{
        font-size: 25px;
    }
    
    .subTitle{
        font-size: 17px;
    }
    .body{
        gap:155px;
        height: inherit;
    }
}