.body {
    display: flex;
    flex-direction: column;
    gap:35%;
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
}

.innerBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
}


.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


@media screen and (max-width:425px) {
    .body { 
        gap:200px;
        height: inherit;
    }
    
}