.alert{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.success{
    background-color: #c5e2cd; 
    color: #5A8264;
}

.fail{
    background-color: #efcece;
    color: #b63632;
    font-weight: 600;
}

.btn{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

@media screen and (max-width:1000px) {
    .alert{
        width: 90%;
    }
}