.dash {
    border-bottom: 0.1em black solid;
    font-size: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media screen and (max-width:500px) {
    .dash {
        font-size: 22px;
    }

}